
@{
    ViewBag.Title = "Categoriessociety";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var getbaivietxahoi = ViewData["PostandCategorysociety"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getbaivietxahoi1 = ViewData["PostandCategorysociety2"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getbaivietxahoi2 = ViewData["PostandCategorysociety3"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;

}

<div class="theme1">
    <div class="hometheme">
        <a href="/Home/Index">Trang Chủ ></a>
    </div>
    <div class="hometheme2">
        <a href="/Home/Categoriessociety">Xã hội</a>
    </div>
</div>
<div class="theme-content">
    <div class="theme-content-chu">
        <p>XÃ HỘI</p>
    </div>
    
</div>
<div class="img-content">
    <div>
        @foreach (var item in getbaivietxahoi)
        {
            
            <div class="img-content1">
                <div class="img-content-img">
                    <a href="/Post/Detail?id=@item.post_id"><img class="img-content-imglink" src="@item.post_teaser" /></a>
                </div>
                <div class="img-content-chu">
                    <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                </div>
                <div class="img-content-ngay">
                    <p>@item.create_date</p>
                </div>
            </div>
            
        }

    </div>
    <div>

        <div class="img-content2">
            @foreach (var item in getbaivietxahoi1)
            {

                <div>
                    <div class="img-content2-con">
                        <a href="/Post/Detail?id=@item.post_id"><img class="img-content2-conlink" src="@item.post_teaser" /></a>
                    </div>
                    <div class="img-content2-chu">
                        <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                    </div>
                </div>
            }
        </div>

        <div class="img-content3">
            @foreach (var item in getbaivietxahoi2)
            {

                <div>
                    <div class="img-content2-con">
                        <a href="/Post/Detail?id=@item.post_id"><img class="img-content2-conlink" src="@item.post_teaser" /></a>
                    </div>
                    <div class="img-content2-chu">
                        <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<div>
    <div class="div-content2-duoi-all">
        <div>
            <div>
                <div class="img-content2-duoi">

                    <div class="img-content2-1">
                        <div class="img-content2-duoi-img">
                            <a href="d"><img class="img-content2-duoi-conlink" src="https://kenh14cdn.com/thumb_w/620/203336854389633024/2022/6/19/q3-3-1655650488298353787008.jpg" /></a>
                        </div>
                        <div class="img-content2-duoi-chu">
                            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                        </div>
                        <div class="img-content-duoi-ngay">
                            <p>HN NEWS 05-11-2022</p>
                        </div>
                    </div>

                   
                </div>
            </div>

            <div>
                <div class="img-content2-duoi">

                    <div class="img-content2-1">
                        <div class="img-content2-duoi-img">
                            <a href="d"><img class="img-content2-duoi-conlink" src="https://kenh14cdn.com/thumb_w/620/203336854389633024/2022/6/19/q3-3-1655650488298353787008.jpg" /></a>
                        </div>
                        <div class="img-content2-duoi-chu">
                            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                        </div>
                        <div class="img-content-duoi-ngay">
                            <p>HN NEWS 05-11-2022</p>
                        </div>
                    </div>

                  
                </div>
            </div>
        </div>

        <div>
            <div class="infor">
                <div class="infor-img">
                    <img src="../Uploadimg/lap.jpg" />
                </div>
                <div class="infor-ten">
                    <p>Nguyễn Văn Lập</p>
                </div>
                <div class="infor-congviec">
                    <p>Từ năm 2009, tôi đã bắt đầu với vị trí <br /> Front End Developer, vài tháng sau đó tôi kiêm luôn cả .NET cho các dự án của công ty, mảng phổ thông. Khoản 01 năm sau đó tôi được tham gia phát triển phần mềm quản lý đầu tiên và cũng là lớn nhất cho tới nay. Tôi mở công ty sau 02 năm đi làm với nền tảng hơn 50 khách quen đã tích luỹ được và đội ngũ anh em thiết kế và lập trình đã làm quen trong quá trình đi làm. Chúng tôi tâm niệm làm tốt nhất những dự án hiện có, khách sẽ giới thiệu lại thêm nhiều dự án khác và phương châm kinh doanh này vẫn đang đúng sau gần 10 năm trong nghề của Van Lap Media.</p>
                </div>
            </div>
        </div>

    </div>
</div>
