@model List<DATNwebtintuc.Models.ModelEntity.Post>
@{
    ViewBag.Title = "Categoriesworld";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var totallpagesize = int.Parse(ViewData["totallpageworld"].ToString());
    var countOfNumberData = Model.Count();
}
<div class="theme1">
    <div class="hometheme">
        <a href="/Home/Index">Trang Chủ ></a>
    </div>
    <div class="hometheme2">
        <a href="/Home/Categoriessociety">Thế giới</a>
    </div>
</div>
<div class="theme-content">
    <div class="theme-content-chu">
        <p>THẾ GIỚI</p>
    </div>

</div>
<div class="img-content">
    <div>
        @if (countOfNumberData > 0)
        {
            <div class="img-content1">
                <div class="img-content-img">
                    <a href="/Post/Detail?id=@Model[0].post_id"><img class="img-content-imglink" src="@Model[0].post_teaser" /></a>
                </div>
                <div class="img-content-chu">
                    <a href="/Post/Detail?id=@Model[0].post_id">@Model[0].post_title</a>
                </div>
                <div class="img-content-ngay">
                    <p>@Model[0].create_date</p>
                </div>
            </div>
        }

    </div>
    <div>
        <div>

            <div class="img-content2">
                <div>
                    @if (countOfNumberData > 1)
                    {
                        <div class="img-content2-con">
                            <a href="/Post/Detail?id=@Model[1].post_id"><img class="img-content2-conlink" src="@Model[1].post_teaser" /></a>
                        </div>
                        <div class="img-content2-chu">
                            <a href="/Post/Detail?id=@Model[1].post_id">@Model[1].post_title</a>
                        </div>
                    }
                </div>

                <div>
                    @if (countOfNumberData > 2)
                    {
                        <div class="img-content2-con">
                            <a href="/Post/Detail?id=@Model[2].post_id"><img class="img-content2-conlink" src="@Model[2].post_teaser" /></a>
                        </div>
                        <div class="img-content2-chu">
                            <a href="/Post/Detail?id=@Model[2].post_id">@Model[2].post_title</a>
                        </div>
                    }
                </div>
            </div>


            <div class="img-content2">

                <div>
                    @if (countOfNumberData > 3)
                    {
                        <div class="img-content2-con">
                            <a href="/Post/Detail?id=@Model[3].post_id"><img class="img-content2-conlink" src="@Model[3].post_teaser" /></a>
                        </div>
                        <div class="img-content2-chu">
                            <a href="/Post/Detail?id=@Model[3].post_id">@Model[3].post_title</a>
                        </div>
                    }
                </div>

                <div>
                    @if (countOfNumberData > 4)
                    {
                        <div class="img-content2-con">
                            <a href="/Post/Detail?id=@Model[4].post_id"><img class="img-content2-conlink" src="@Model[4].post_teaser" /></a>
                        </div>
                        <div class="img-content2-chu">
                            <a href="/Post/Detail?id=@Model[4].post_id">@Model[4].post_title</a>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>


<div>
    <div class="div-content2-duoi-all">
        <div>
            <div>
                <div class="img-content2-duoi">
                    <div class="img-content2-1">
                        @if (countOfNumberData > 5)
                        {
                            <div class="img-content2-duoi-img">
                                <a href="/Post/Detail?id=@Model[5].post_id"><img class="img-content2-duoi-conlink" src="@Model[5].post_teaser" /></a>
                            </div>
                            <div class="img-content2-duoi-chu">
                                <a href="/Post/Detail?id=@Model[5].post_id">@Model[5].post_title</a>
                            </div>
                            <div class="img-content-duoi-ngay">
                                <p>@Model[5].create_date</p>
                            </div>
                        }
                    </div>

                    <div class="img-content2-1">
                        @if (countOfNumberData > 6)
                        {
                            <div class="img-content2-duoi-img">
                                <a href="/Post/Detail?id=@Model[6].post_id"><img class="img-content2-duoi-conlink" src="@Model[6].post_teaser" /></a>
                            </div>
                            <div class="img-content2-duoi-chu">
                                <a href="/Post/Detail?id=@Model[6].post_id">@Model[6].post_title</a>
                            </div>
                            <div class="img-content-duoi-ngay">
                                <p>@Model[6].create_date</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div>

                <div class="img-content2-duoi">
                    <div class="img-content2-1">
                        @if (countOfNumberData > 7)
                        {
                            <div class="img-content2-duoi-img">
                                <a href="/Post/Detail?id=@Model[7].post_id"><img class="img-content2-duoi-conlink" src="@Model[7].post_teaser" /></a>
                            </div>
                            <div class="img-content2-duoi-chu">
                                <a href="/Post/Detail?id=@Model[7].post_id">@Model[7].post_title</a>
                            </div>
                            <div class="img-content-duoi-ngay">
                                <p>@Model[7].create_date</p>
                            </div>
                        }
                    </div>
                    <div class="img-content2-1">
                        @if (countOfNumberData >= 8)
                        {
                            <div class="img-content2-duoi-img">
                                <a href="/Post/Detail?id=@Model[8].post_id"><img class="img-content2-duoi-conlink" src="@Model[8].post_teaser" /></a>
                            </div>
                            <div class="img-content2-duoi-chu">
                                <a href="/Post/Detail?id=@Model[8].post_id">@Model[8].post_title</a>
                            </div>
                            <div class="img-content-duoi-ngay">
                                <p>@Model[8].create_date</p>
                            </div>
                        }
                    </div>

                </div>
            </div>

            <div>
                <ul class="pagination" style="margin-left:68%;margin-top:40px">
                    @for (var i = 1; i <= totallpagesize; i++)
                    {
                        <li class="page-item"><a class="page-link  bg-lightblue" href="/Home/Categoriesworld?page=@i">@i</a></li>
                    }

                </ul>
            </div>
        </div>

        <div>
            <div class="infor">
                <div class="infor-img">
                    <img src="../Uploadimg/lap.jpg" />
                </div>
                <div class="infor-ten">
                    <p>Nguyễn Văn Lập</p>
                </div>
                <div class="infor-congviec">
                    <p>Từ năm 2009, tôi đã bắt đầu với vị trí <br /> Front End Developer, vài tháng sau đó tôi kiêm luôn cả .NET cho các dự án của công ty, mảng phổ thông. Khoản 01 năm sau đó tôi được tham gia phát triển phần mềm quản lý đầu tiên và cũng là lớn nhất cho tới nay. Tôi mở công ty sau 02 năm đi làm với nền tảng hơn 50 khách quen đã tích luỹ được và đội ngũ anh em thiết kế và lập trình đã làm quen trong quá trình đi làm. Chúng tôi tâm niệm làm tốt nhất những dự án hiện có, khách sẽ giới thiệu lại thêm nhiều dự án khác và phương châm kinh doanh này vẫn đang đúng sau gần 10 năm trong nghề của Van Lap Media.</p>
                </div>
            </div>
        </div>

    </div>
</div>
