
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var getimgadvertisment = ViewData["advertismentimage"] as List<DATNwebtintuc.Models.ModelEntity.Advertisement>;
    var getvideoadvertisment = ViewData["advertismentvideo"] as List<DATNwebtintuc.Models.ModelEntity.Advertisement>;
    var gettinmoi = ViewData["PostandSticky"] as List<DATNwebtintuc.Models.ModelRespon.JoinPostandStickypost>;
    var getxahoi = ViewData["PostandCategory "] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getphapluat = ViewData["PostandCategoryphapluat"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getkinhdoanh1 = ViewData["PostandCategorykinhdoanh"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getkinhdoanh2 = ViewData["PostandCategorykinhdoanh1"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getdoisong = ViewData["PostandCategorydoisong"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getdoisong1 = ViewData["PostandCategorydoisong1"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getthegioi = ViewData["PostandCategorythegioi"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getthegioi1 = ViewData["PostandCategorythegioi1"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getgiaitri = ViewData["PostandCategorygiaitri"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getxe = ViewData["PostandCategoryxe"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getxe1 = ViewData["PostandCategoryxe1"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getcanbiet = ViewData["PostandCategorycanbiet"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
}


<div>
    <div class="chutinmoi">
        <p>TIN MỚI</p>
    </div>
    <div class="mau">

    </div>
</div>
<div class="tieudiem">
    <div class="tieudiem1">
            @foreach (var item in gettinmoi)
            {
                <div class="content1">
                    <div class="imgcontentt">
                        <img src="@item.post_teaser" />
                    </div>
                    <div class="chuduoianhcontent">
                        <a href="/Post/Detail?id=@item.post_id">@item.post_title.Substring(0, 94)</a>
                    </div>
                    <div class="btn-content">
                        <a href="/Post/Detail?id=@item.post_id" class="btn btn-primary btn-sm" style="color:white">Xem thêm</a>
                    </div>
                </div>
            }
        }
    </div>
    <div class="tieudiem2">
        <div class="content2">
            <div class="imgcontent2">
                <img src="https://icdn.dantri.com.vn/zoom/233_155/2022/06/06/gong1-1654442896834-1654519499500.jpeg" />
            </div>
            <div class="noidung">
                <div class="noidungchu">
                    <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
                <div class="luotxem">
                    <div class="luotxemmat">
                        <i class="far fa-eye"></i>
                    </div>
                    <div class="luotxemso">
                        <p>2686</p>
                    </div>
                </div>
                <div class="ngaytao">
                    <div class="ngaytaokitu">
                        <i class="fas fa-calendar"></i>
                    </div>
                    <div class="ngaytaochu">
                        <p>05/11/2022</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content2">
            <div class="imgcontent2">
                <img src="https://icdn.dantri.com.vn/zoom/233_155/2022/06/06/gong1-1654442896834-1654519499500.jpeg" />
            </div>
            <div class="noidung">
                <div class="noidungchu">
                    <a href="f">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                </div>
                <div class="luotxem">
                    <div class="luotxemmat">
                        <i class="far fa-eye"></i>
                    </div>
                    <div class="luotxemso">
                        <p>2686</p>
                    </div>
                </div>
                <div class="ngaytao">
                    <div class="ngaytaokitu">
                        <i class="fas fa-calendar"></i>
                    </div>
                    <div class="ngaytaochu">
                        <p>05/11/2022</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="chutinmoi">
        <p>XÃ HỘI</p>
    </div>
    <div class="mau">

    </div>
</div>


<div class="thoisutd">
    @foreach (var item in getxahoi)
    {
        <div class="thoisu">
            <div class="thoisu1">
                <div class="imgthoisu1">
                    <img src="@item.post_teaser" />
                </div>
                <div class="chuthoisu1">
                    <a href="/Post/Detail?id=@item.post_id">
                        @if (item.post_title.Length > 70)
                        {
                            <td>@item.post_title.Substring(0, 70) ...</td>
                        }
                        else
                        {
                            <td>@item.post_title</td>
                        }
                    </a>
                </div>
                <div class="kitutieudiem">
                    <div class="kitutieudiemngaytao">
                        <div class="kitutieudiemngaytaokitu">
                            <i class="fas fa-calendar"></i>
                        </div>
                        <div class="kitutieudiemngaytaochu">
                            <p>@item.create_date</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
    


<div>
    <div class="chutinmoi">
        <p>PHÁP LUẬT</p>
    </div>
    <div class="mau">

    </div>
</div>

<div class="batdautieudiem">
    <div class="tieudiemtdandqc">
        <div class="tieudiemtd">
            @foreach (var item in getphapluat)
            {
                <div class="tieudiem1">
                    <div class="anhtieudiem">
                        <a href="/Post/Detail?id=@item.post_id"><img class="anhtieudiemlink" src="@item.post_teaser" /></a>
                    </div>
                    <div class="chutieudiem">
                        <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                    </div>
                    <div class="kitutieudiem">
                        <div class="kitutieudiemngaytao">
                            <div class="kitutieudiemngaytaokitu">
                                <i class="fas fa-calendar"></i>
                            </div>
                            <div class="kitutieudiemngaytaochu">
                                <p>@item.create_date</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>


<div>
    <div class="chutinmoi">
        <p>KINH DOANH</p>
    </div>
    <div class="mau">

    </div>
</div>

<div class="batdauxahoi">
    <div class="xahoitd">
        @foreach (var item in getkinhdoanh1)
        {
            <div class="xahoicon">
                <div class="xahoiimg">
                    <a href="/Post/Detail?id=@item.post_id"><img class="xahoiimglink" src="@item.post_teaser" /></a>
                </div>
                <div class="xahoichu">
                    <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                </div>
                <div class="xahoingay">
                    <div class="kitutieudiem">
                        <div class="kitutieudiemngaytao">
                            <div class="kitutieudiemngaytaokitu">
                                <i class="fas fa-calendar"></i>
                            </div>
                            <div class="kitutieudiemngaytaochu">
                                <p>@item.create_date</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    <div>
        @foreach (var item in getkinhdoanh2)
        {
            <div class="xahoicon2">
                <div class="xahoicon2noidung">
                    <div class="xahoicon2anh">
                        <a href="/Post/Detail?id=@item.post_id"><img class="xahoicon2anhlink" src="@item.post_teaser" /></a>
                    </div>
                    <div>
                        <div class="xahoicon2chu">
                            <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                        </div>
                        <div>
                            <div class="kitutieudiemcon">
                                <div class="kitutieudiemconkitu">
                                    <i class="fas fa-calendar"></i>
                                </div>
                                <div class="kitutieudiemconchu">
                                    <p>@item.create_date</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>


        <div class="quangcao2">
            <a href="ad"><img class="quangcao2link" src="@getimgadvertisment[1].linkAdvertisement" /></a>
        </div>

    </div>
</div>

<div>
    <div class="chutinmoi">
        <p>ĐỜI SỐNG</p>
    </div>
    <div class="mau">

    </div>
</div>

<div class="batdauphapluat">
    <div class="phapluattd">
        @foreach (var item in getdoisong)
        {
            <div>
                <div class="phapluatimg">
                    <a href="/Post/Detail?id=@item.post_id"><img class="phapluatimglink" src="@item.post_teaser" /></a>
                </div>
                <div class="xahoichu">
                    <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                </div>
                <div class="xahoingay">
                    <div class="kitutieudiem">
                        <div class="kitutieudiemngaytao">
                            <div class="kitutieudiemngaytaokitu">
                                <i class="fas fa-calendar"></i>
                            </div>
                            <div class="kitutieudiemngaytaochu">
                                <p>@item.create_date</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    <div>
        @foreach (var item in getdoisong1)
        {
            <div class="xahoicon2">
                <div class="xahoicon2noidung">
                    <div class="xahoicon2anh">
                        <a href="/Post/Detail?id=@item.post_id"><img class="xahoicon2anhlink" src="@item.post_teaser" /></a>
                    </div>
                    <div>
                        <div class="xahoicon2chu">
                            <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                        </div>
                        <div>
                            <div class="kitutieudiemcon">
                                <div class="kitutieudiemconkitu">
                                    <i class="fas fa-calendar"></i>
                                </div>
                                <div class="kitutieudiemconchu">
                                    <p>@item.create_date</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

        <div class="quangcao3">
            <a href="ds"><img class="quangcao3img" src="@getimgadvertisment[2].linkAdvertisement" /></a>
        </div>
    </div>
</div>

<div>
    <div class="chutinmoi">
        <p>THẾ GIỚI</p>
    </div>
    <div class="mau">

    </div>
</div>

<div class="batdauthegioi">
    <div class="thegioi">
        <div>  
            <div class="thegioi1">
                @foreach (var item in getthegioi)
                {
                    <div>
                        <div class="imgthegioi">
                            <a href="/Post/Detail?id=@item.post_id"><img class="imgthegioilink" src="@item.post_teaser" /></a>
                        </div>
                        <div class="chuthegioi">
                            <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                        </div>
                    </div>
                }

            </div>
  
            <div>
                <div class="thegioi2">
                    @foreach (var item in getthegioi1)
                    {
                        <div>
                            <div class="imgthegioi">
                                <a href="/Post/Detail?id=@item.post_id"><img class="imgthegioilink" src="@item.post_teaser" /></a>
                            </div>
                            <div class="chuthegioi">
                                <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="quangcaoifarme">
            <div class="chuaiframe">
                <div class="iframecon">

                    <div class="iframanh">
                        <iframe width="355" height="180" src="@getvideoadvertisment[0].linkAdvertisement" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class="iframanh1">
                        <iframe width="355" height="180" src="@getvideoadvertisment[1].linkAdvertisement" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class="iframanh1">
                        <iframe width="355" height="180" src="@getvideoadvertisment[2].linkAdvertisement" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div>
    <div class="chutinmoi">
        <p>GIẢI TRÍ</p>
    </div>
    <div class="mau">

    </div>
</div>

<div class="batdaudoisong">
    <div class="doisong">
        @foreach (var item in getgiaitri)
        {
            <div class="doisong1">
                <div class="doisongimg">
                    <a href="/Post/Detail?id=@item.post_id"><img class="doisongimglink" src="@item.post_teaser" /></a>
                </div>
                <div class="chudoisong">
                    <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                </div>
            </div>
        }

    </div>
</div>

<div>
    <div class="chutinmoi">
        <p>XE</p>
    </div>
    <div class="mau">

    </div>
</div>



<div class="batdauxe">
    <div class="xevacanbiet">
        <div class="xe">
            <div class="xehoi">
                @foreach (var item in getxe)
                {
                    <div class="xe1">
                        <div class="anhxe">
                            <a href="/Post/Detail?id=@item.post_id"><img class="anhxelink" src="@item.post_teaser" /></a>
                        </div>
                        <div class="chuxe">
                            <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                        </div>
                    </div>
                }
            </div>

            <div class="xehoi2">
                @foreach (var item in getxe1)
                {
                    <div class="xe1">
                        <div class="anhxe">
                            <a href="/Post/Detail?id=@item.post_id"><img class="anhxelink" src="@item.post_teaser" /></a>
                        </div>
                        <div class="chuxe">
                            <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="canbiet">
            <div>
                <div class="chucanbiet">
                    <p>Cần biết</p>
                </div>
                <div class="mau">

                </div>
            </div>
            <div>
                <div>
                    @foreach (var item in getcanbiet)
                    {
                        <div class="canbietthongtin">
                            <div class="imgcanbiet">
                                <a href="/Post/Detail?id=@item.post_id"><img class="imgcanbietlink" src="@item.post_teaser" /></a>
                            </div>
                            <div>
                                <div class="chucanbietthongtin">
                                    <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                                </div>
                                <div>
                                    <div class="kitutieudiemcon">
                                        <div class="kitutieudiemconkitu">
                                            <i class="fas fa-calendar"></i>
                                        </div>
                                        <div class="kitutieudiemconchu">
                                            <p>@item.create_date</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="chutinmoi">
        <p>KINH DOANH</p>
    </div>
    <div class="mau">

    </div>
</div>

<div class="batdaugiaitri">
    <div class="giaitri0">
        <div>
            <div class="giaitri">

                <div class="giaitrithongtin">
                    <div class="anhgiaitri">
                        <a href="d"><img class="anhgiaitrilink" src="https://icdn.dantri.com.vn/zoom/360_240/2022/06/04/thanh-long00004-1654278393828.jpeg" /></a>
                    </div>
                    <div>
                        <div class="chugiaitri">
                            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                        </div>
                        <div>
                            <div class="kitutieudiemcon">
                                <div class="kitutieudiemconkitu">
                                    <i class="fas fa-calendar"></i>
                                </div>
                                <div class="kitutieudiemconchu">
                                    <p>05/11/2022</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="giaitrithongtin">
                    <div class="anhgiaitri">
                        <a href="d"><img class="anhgiaitrilink" src="https://icdn.dantri.com.vn/zoom/360_240/2022/06/04/thanh-long00004-1654278393828.jpeg" /></a>
                    </div>
                    <div>
                        <div class="chugiaitri">
                            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                        </div>
                        <div>
                            <div class="kitutieudiemcon">
                                <div class="kitutieudiemconkitu">
                                    <i class="fas fa-calendar"></i>
                                </div>
                                <div class="kitutieudiemconchu">
                                    <p>05/11/2022</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="giaitri2">
                <div class="giaitrithongtin">
                    <div class="anhgiaitri">
                        <a href="d"><img class="anhgiaitrilink" src="https://icdn.dantri.com.vn/zoom/360_240/2022/06/04/thanh-long00004-1654278393828.jpeg" /></a>
                    </div>
                    <div>
                        <div class="chugiaitri">
                            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                        </div>
                        <div>
                            <div class="kitutieudiemcon">
                                <div class="kitutieudiemconkitu">
                                    <i class="fas fa-calendar"></i>
                                </div>
                                <div class="kitutieudiemconchu">
                                    <p>05/11/2022</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="giaitrithongtin">
                    <div class="anhgiaitri">
                        <a href="d"><img class="anhgiaitrilink" src="https://icdn.dantri.com.vn/zoom/360_240/2022/06/04/thanh-long00004-1654278393828.jpeg" /></a>
                    </div>
                    <div>
                        <div class="chugiaitri">
                            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                        </div>
                        <div>
                            <div class="kitutieudiemcon">
                                <div class="kitutieudiemconkitu">
                                    <i class="fas fa-calendar"></i>
                                </div>
                                <div class="kitutieudiemconchu">
                                    <p>05/11/2022</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="quangcao4">
            <a href="d"><img class="quangcao4link" src="@getimgadvertisment[3].linkAdvertisement" /></a>
        </div>

    </div>
</div>

<div>
    <div class="chutinmoi">
        <p>CÔNG NGHỆ</p>
    </div>
    <div class="mau">

    </div>
</div>

<div class="batdaucongnghe">
    <div class="giaitri0">
        <div>
            <div class="giaitri">

                <div class="giaitrithongtin">
                    <div class="anhgiaitri">
                        <a href="d"><img class="anhgiaitrilink" src="https://icdn.dantri.com.vn/zoom/516_344/2022/06/06/vnnic-internet-conference-crop-1654502133193.jpeg" /></a>
                    </div>
                    <div>
                        <div class="chugiaitri">
                            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                        </div>
                        <div>
                            <div class="kitutieudiemcon">
                                <div class="kitutieudiemconkitu">
                                    <i class="fas fa-calendar"></i>
                                </div>
                                <div class="kitutieudiemconchu">
                                    <p>05/11/2022</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="giaitrithongtin">
                    <div class="anhgiaitri">
                        <a href="d"><img class="anhgiaitrilink" src="https://icdn.dantri.com.vn/zoom/516_344/2022/06/06/vnnic-internet-conference-crop-1654502133193.jpeg" /></a>
                    </div>
                    <div>
                        <div class="chugiaitri">
                            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                        </div>
                        <div>
                            <div class="kitutieudiemcon">
                                <div class="kitutieudiemconkitu">
                                    <i class="fas fa-calendar"></i>
                                </div>
                                <div class="kitutieudiemconchu">
                                    <p>05/11/2022</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="giaitri2">
                <div class="giaitrithongtin">
                    <div class="anhgiaitri">
                        <a href="d"><img class="anhgiaitrilink" src="https://icdn.dantri.com.vn/zoom/516_344/2022/06/06/vnnic-internet-conference-crop-1654502133193.jpeg" /></a>
                    </div>
                    <div>
                        <div class="chugiaitri">
                            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                        </div>
                        <div>
                            <div class="kitutieudiemcon">
                                <div class="kitutieudiemconkitu">
                                    <i class="fas fa-calendar"></i>
                                </div>
                                <div class="kitutieudiemconchu">
                                    <p>05/11/2022</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="giaitrithongtin">
                    <div class="anhgiaitri">
                        <a href="d"><img class="anhgiaitrilink" src="https://icdn.dantri.com.vn/zoom/516_344/2022/06/06/vnnic-internet-conference-crop-1654502133193.jpeg" /></a>
                    </div>
                    <div>
                        <div class="chugiaitri">
                            <a href="d">Bộ Chính trị triệu tập Hội nghị Trung ương bất thường Ông Trần Quang Phương đưa ra thông báo trên khi mở đầu phiên làm việc tại hội trường ..</a>
                        </div>
                        <div>
                            <div class="kitutieudiemcon">
                                <div class="kitutieudiemconkitu">
                                    <i class="fas fa-calendar"></i>
                                </div>
                                <div class="kitutieudiemconchu">
                                    <p>05/11/2022</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="quangcao4">
            <a href="d"><img class="quangcao4link" src="@getimgadvertisment[4].linkAdvertisement" /></a>
        </div>
    </div>
</div>