
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    //Layout = "~/Views/Shared/_LayoutSlide.cshtml";
    var getimgadvertisment = ViewData["advertismentimage"] as List<DATNwebtintuc.Models.ModelEntity.Advertisement>;
    var getvideoadvertisment = ViewData["advertismentvideo"] as List<DATNwebtintuc.Models.ModelEntity.Advertisement>;
    var gettinmoi = ViewData["PostandSticky"] as List<DATNwebtintuc.Models.ModelEntity.Post>;
    var gettinslide = ViewData["PostandStickyslide"] as List<DATNwebtintuc.Models.ModelEntity.Post>;
    var getxahoi = ViewData["PostandCategory "] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getphapluat = ViewData["PostandCategoryphapluat"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getkinhdoanh1 = ViewData["PostandCategorykinhdoanh"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getkinhdoanh2 = ViewData["PostandCategorykinhdoanh1"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getdoisong = ViewData["PostandCategorydoisong"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getdoisong1 = ViewData["PostandCategorydoisong1"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getthegioi = ViewData["PostandCategorythegioi"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getthegioi1 = ViewData["PostandCategorythegioi1"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getgiaitri = ViewData["PostandCategorygiaitri"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getxe = ViewData["PostandCategoryxe"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getxe1 = ViewData["PostandCategoryxe1"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getcanbiet = ViewData["PostandCategorycanbiet"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getthoisu = ViewData["PostandCategorythoisu"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getthoisu1 = ViewData["PostandCategorythoisu1"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getcongnghe = ViewData["PostandCategorycongnghe"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
    var getcongnghe1 = ViewData["PostandCategorycongnghe1"] as List<DATNwebtintuc.Models.ModelRespon.PostandCategory>;
}
<div>
    @foreach (var item in gettinslide)
    {
    <div class="w3-content w3-section" style="position:relative">
        <a href="/Post/Detail?id=@item.post_id"><img class="mySlides" src="@item.post_teaser"></a>
        <a href="/Post/Detail?id=@item.post_id" class="myTitle"><h1>"@item.post_title"</h1></a>
      
    </div>
    }
</div>
<div>
    <div class="chutinmoi">
        <p>NỔI BẬT</p>
    </div>
    <div class="mau">

    </div>
</div>
<div class="tieudiem">
    <div class="tieudiem1">

        <div class="content1">
            <div class="imgcontentt">
                <img src="@gettinmoi[0].post_teaser" />
            </div>
            <div class="chuduoianhcontent">
                <a href="/Post/Detail?id=@gettinmoi[0].post_id">@gettinmoi[0].post_title</a>
            </div>
        
        </div>
        }
    </div>
    <div class="tieudiem2">
        <div class="content2">
            <div class="imgcontent2">
                <img src="@gettinmoi[1].post_teaser" />
            </div>
            <div class="noidung">
                <div class="noidungchu">
                    <a href="/Post/Detail?id=@gettinmoi[1].post_id">@gettinmoi[1].post_title</a>
                </div>
                <div class="luotxem">
                    <div class="luotxemmat">
                        <i class="far fa-eye"></i>
                    </div>
                    <div class="luotxemso">
                        <p>@gettinmoi[1].ViewCount</p>
                    </div>
                </div>
                <div class="ngaytao">
                    <div class="ngaytaokitu">
                        <i class="fas fa-calendar"></i>
                    </div>
                    <div class="ngaytaochu">
                        <p>@gettinmoi[1].create_date</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content2">
            <div class="imgcontent2">
                <img src="@gettinmoi[2].post_teaser" />
            </div>
            <div class="noidung">
                <div class="noidungchu">
                    <a href="/Post/Detail?id=@gettinmoi[2].post_id">@gettinmoi[2].post_title</a>
                </div>
                <div class="luotxem">
                    <div class="luotxemmat">
                        <i class="far fa-eye"></i>
                    </div>
                    <div class="luotxemso">
                        <p>@gettinmoi[2].ViewCount</p>
                    </div>
                </div>
                <div class="ngaytao">
                    <div class="ngaytaokitu">
                        <i class="fas fa-calendar"></i>
                    </div>
                    <div class="ngaytaochu">
                        <p>@gettinmoi[2].create_date</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="chutinmoi">
        <p>XÃ HỘI</p>
    </div>
    <div class="mau">

    </div>
</div>


<div class="thoisutd">
    @foreach (var item in getxahoi)
    {
        <div class="thoisu">
            <div class="thoisu1">
                <div class="imgthoisu1">
                    <img src="@item.post_teaser" />
                </div>
                <div class="chuthoisu1">
                    <a href="/Post/Detail?id=@item.post_id">
                        @if (item.post_title.Length > 70)
                        {
                            <td>@item.post_title.Substring(0, 70) ...</td>
                        }
                        else
                        {
                            <td>@item.post_title</td>
                        }
                    </a>
                </div>
                <div class="kitutieudiem">
                    <div class="kitutieudiemngaytao">
                        <div class="kitutieudiemngaytaokitu">
                            <i class="fas fa-calendar"></i>
                        </div>
                        <div class="kitutieudiemngaytaochu">
                            <p>@item.create_date</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



<div>
    <div class="chutinmoi">
        <p>PHÁP LUẬT</p>
    </div>
    <div class="mau">

    </div>
</div>

<div class="batdautieudiem">
    <div class="tieudiemtdandqc">
        <div class="tieudiemtd">
            @foreach (var item in getphapluat)
            {
                <div class="tieudiem1">
                    <div class="anhtieudiem">
                        <a href="/Post/Detail?id=@item.post_id"><img class="anhtieudiemlink" src="@item.post_teaser" /></a>
                    </div>
                    <div class="chutieudiem">
                        <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                    </div>
                    <div class="kitutieudiem">
                        <div class="kitutieudiemngaytao">
                            <div class="kitutieudiemngaytaokitu">
                                <i class="fas fa-calendar"></i>
                            </div>
                            <div class="kitutieudiemngaytaochu">
                                <p>@item.create_date</p>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>

</div>


<div>
    <div class="chutinmoi">
        <p>KINH DOANH</p>
    </div>
    <div class="mau">

    </div>
</div>

<div class="batdauxahoi">
    <div class="xahoitd">
        @foreach (var item in getkinhdoanh1)
        {
            <div class="xahoicon">
                <div class="xahoiimg">
                    <a href="/Post/Detail?id=@item.post_id"><img class="xahoiimglink" src="@item.post_teaser" /></a>
                </div>
                <div class="xahoichu">
                    <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                </div>
                <div class="xahoingay">
                    <div class="kitutieudiem">
                        <div class="kitutieudiemngaytao">
                            <div class="kitutieudiemngaytaokitu">
                                <i class="fas fa-calendar"></i>
                            </div>
                            <div class="kitutieudiemngaytaochu">
                                <p>@item.create_date</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div>
            @foreach (var item in getkinhdoanh2)
            {
                <div class="xahoicon2">
                    <div class="xahoicon2noidung">
                        <div class="xahoicon2anh">
                            <a href="/Post/Detail?id=@item.post_id"><img class="xahoicon2anhlink" src="@item.post_teaser" /></a>
                        </div>
                        <div>
                            <div class="xahoicon2chu">
                                <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                            </div>
                            <div>
                                <div class="kitutieudiemcon">
                                    <div class="kitutieudiemconkitu">
                                        <i class="fas fa-calendar"></i>
                                    </div>
                                    <div class="kitutieudiemconchu">
                                        <p>@item.create_date</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>


        <div class="quangcao2">
            <a href="@getimgadvertisment[1].urlAdvertisment"><img class="quangcao2link" src="@getimgadvertisment[1].linkAdvertisement" /></a>
        </div>

    </div>
</div>

<div>
    <div class="chutinmoi">
        <p>ĐỜI SỐNG</p>
    </div>
    <div class="mau">

    </div>
</div>

<div class="batdauphapluat">
    <div class="phapluattd">
        @foreach (var item in getdoisong)
        {
            <div>
                <div class="phapluatimg">
                    <a href="/Post/Detail?id=@item.post_id"><img class="phapluatimglink" src="@item.post_teaser" /></a>
                </div>
                <div class="xahoichu">
                    <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                </div>
                <div class="xahoingay">
                    <div class="kitutieudiem">
                        <div class="kitutieudiemngaytao">
                            <div class="kitutieudiemngaytaokitu">
                                <i class="fas fa-calendar"></i>
                            </div>
                            <div class="kitutieudiemngaytaochu">
                                <p>@item.create_date</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div>
            @foreach (var item in getdoisong1)
            {
                <div class="xahoicon2">
                    <div class="xahoicon2noidung">
                        <div class="xahoicon2anh">
                            <a href="/Post/Detail?id=@item.post_id"><img class="xahoicon2anhlink" src="@item.post_teaser" /></a>
                        </div>
                        <div>
                            <div class="xahoicon2chu">
                                <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                            </div>
                            <div>
                                <div class="kitutieudiemcon">
                                    <div class="kitutieudiemconkitu">
                                        <i class="fas fa-calendar"></i>
                                    </div>
                                    <div class="kitutieudiemconchu">
                                        <p>@item.create_date</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

        <div class="quangcao3">
            <a href="@getimgadvertisment[2].urlAdvertisment"><img class="quangcao3img" src="@getimgadvertisment[2].linkAdvertisement" /></a>
        </div>
    </div>
</div>

<div>
    <div class="chutinmoi">
        <p>THẾ GIỚI</p>
    </div>
    <div class="mau">

    </div>
</div>

<div class="batdauthegioi">
    <div class="thegioi">
        <div>
            <div class="thegioi1">
                @foreach (var item in getthegioi)
                {
                    <div>
                        <div class="imgthegioi">
                            <a href="/Post/Detail?id=@item.post_id"><img class="imgthegioilink" src="@item.post_teaser" /></a>
                        </div>
                        <div class="chuthegioi">
                            <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                        </div>
                    </div>
                }

            </div>

            <div>
                <div class="thegioi2">
                    @foreach (var item in getthegioi1)
                    {
                        <div>
                            <div class="imgthegioi">
                                <a href="/Post/Detail?id=@item.post_id"><img class="imgthegioilink" src="@item.post_teaser" /></a>
                            </div>
                            <div class="chuthegioi">
                                <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="quangcaoifarme">
            <div class="chuaiframe">
                <div class="iframecon">

                    <div class="iframanh">
                        <iframe width="355" height="180" src="@getvideoadvertisment[0].linkAdvertisement" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class="iframanh1">
                        <iframe width="355" height="180" src="@getvideoadvertisment[1].linkAdvertisement" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                    <div class="iframanh1">
                        <iframe width="355" height="180" src="@getvideoadvertisment[2].linkAdvertisement" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div>
    <div class="chutinmoi">
        <p>GIẢI TRÍ</p>
    </div>
    <div class="mau">

    </div>
</div>

<div class="batdaudoisong">
    <div class="doisong">
        @foreach (var item in getgiaitri)
        {
            <div class="doisong1">
                <div class="doisongimg">
                    <a href="/Post/Detail?id=@item.post_id"><img class="doisongimglink" src="@item.post_teaser" /></a>
                </div>
                <div class="chudoisong">
                    <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                </div>
            </div>
        }

    </div>
</div>

<div>
    <div class="chutinmoi">
        <p>XE</p>
    </div>
    <div class="mau">

    </div>
</div>



<div class="batdauxe">
    <div class="xevacanbiet">
        <div class="xe">
            <div class="xehoi">
                @foreach (var item in getxe)
                {
                    <div class="xe1">
                        <div class="anhxe">
                            <a href="/Post/Detail?id=@item.post_id"><img class="anhxelink" src="@item.post_teaser" /></a>
                        </div>
                        <div class="chuxe">
                            <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                        </div>
                    </div>
                }
            </div>

            <div class="xehoi2">
                @foreach (var item in getxe1)
                {
                    <div class="xe1">
                        <div class="anhxe">
                            <a href="/Post/Detail?id=@item.post_id"><img class="anhxelink" src="@item.post_teaser" /></a>
                        </div>
                        <div class="chuxe">
                            <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="canbiet">
            <div>
                <div class="chucanbiet">
                    <p>Cần biết</p>
                </div>
                <div class="mau">

                </div>
            </div>
            <div>
                <div>
                    @foreach (var item in getcanbiet)
                    {
                        <div class="canbietthongtin">
                            <div class="imgcanbiet">
                                <a href="/Post/Detail?id=@item.post_id"><img class="imgcanbietlink" src="@item.post_teaser" /></a>
                            </div>
                            <div>
                                <div class="chucanbietthongtin">
                                    <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                                </div>
                                <div>
                                    <div class="kitutieudiemcon">
                                        <div class="kitutieudiemconkitu">
                                            <i class="fas fa-calendar"></i>
                                        </div>
                                        <div class="kitutieudiemconchu">
                                            <p>@item.create_date</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="chutinmoi">
        <p>THỜI SỰ</p>
    </div>
    <div class="mau">

    </div>
</div>

<div class="batdaugiaitri">
    <div class="giaitri0">
        <div>
            <div class="giaitri">
                @foreach (var item in getthoisu)
                {
                    <div class="giaitrithongtin">
                        <div class="anhgiaitri">
                            <a href="/Post/Detail?id=@item.post_id"><img class="anhgiaitrilink" src="@item.post_teaser" /></a>
                        </div>
                        <div>
                            <div class="chugiaitri">
                                <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                            </div>
                            <div>
                                <div class="kitutieudiemcon">
                                    <div class="kitutieudiemconkitu">
                                        <i class="fas fa-calendar"></i>
                                    </div>
                                    <div class="kitutieudiemconchu">
                                        <p>@item.create_date</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="giaitri2">
                @foreach (var item in getthoisu1)
                {
                    <div class="giaitrithongtin">
                        <div class="anhgiaitri">
                            <a href="/Post/Detail?id=@item.post_id"><img class="anhgiaitrilink" src="@item.post_teaser" /></a>
                        </div>
                        <div>
                            <div class="chugiaitri">
                                <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                            </div>
                            <div>
                                <div class="kitutieudiemcon">
                                    <div class="kitutieudiemconkitu">
                                        <i class="fas fa-calendar"></i>
                                    </div>
                                    <div class="kitutieudiemconchu">
                                        <p>@item.create_date</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>

        <div class="quangcao4">
            <a href="@getimgadvertisment[3].urlAdvertisment"><img class="quangcao4link" src="@getimgadvertisment[3].linkAdvertisement" /></a>
        </div>

    </div>
</div>

<div>
    <div class="chutinmoi">
        <p>CÔNG NGHỆ</p>
    </div>
    <div class="mau">

    </div>
</div>

<div class="batdaucongnghe">
    <div class="giaitri0">
        <div>
            <div class="giaitri">
                @foreach (var item in getcongnghe)
                {
                    <div class="giaitrithongtin">
                        <div class="anhgiaitri">
                            <a href="/Post/Detail?id=@item.post_id"><img class="anhgiaitrilink" src="@item.post_teaser" /></a>
                        </div>
                        <div>
                            <div class="chugiaitri">
                                <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                            </div>
                            <div>
                                <div class="kitutieudiemcon">
                                    <div class="kitutieudiemconkitu">
                                        <i class="fas fa-calendar"></i>
                                    </div>
                                    <div class="kitutieudiemconchu">
                                        <p>@item.create_date</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="giaitri2">
                @foreach (var item in getcongnghe1)
                {
                    <div class="giaitrithongtin">
                        <div class="anhgiaitri">
                            <a href="/Post/Detail?id=@item.post_id"><img class="anhgiaitrilink" src="@item.post_teaser" /></a>
                        </div>
                        <div>
                            <div class="chugiaitri">
                                <a href="/Post/Detail?id=@item.post_id">@item.post_title</a>
                            </div>
                            <div>
                                <div class="kitutieudiemcon">
                                    <div class="kitutieudiemconkitu">
                                        <i class="fas fa-calendar"></i>
                                    </div>
                                    <div class="kitutieudiemconchu">
                                        <p>@item.create_date</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>

        <div class="quangcao4">
            <a href="@getimgadvertisment[4].urlAdvertisment"><img class="quangcao4link" src="@getimgadvertisment[4].linkAdvertisement" /></a>
        </div>
    </div>
</div>

@*<script type="text/javascript">
        class slideshow {
            imgSlide;
            description;
            constructor(_img, _chu) {
                this.imgSlide = _img;
                this.description = _chu;
            }
        }
        var arranh = [];
        Promise.resolve(() => {

           @foreach (var @item in @gettinmoi)
           {
               <text>
            arranh.push(new slideshow("@item.post_teaser.ToString()","@item.post_title.ToString()"))
            </text>
            }
        }).then(() => {
            console.log(arranh[0])
        })

    </script>*@
<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var y = document.getElementsByClassName("myTitle");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
            y[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        y[myIndex - 1].style.display = "block";
        setTimeout(carousel, 4000); // Change image every 2 seconds
    }
</script>